/* #__next * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

#__next .MuiButtonBase-root {
    text-transform: none;
}

#__next .MuiTab-root {
    align-items: self-start;
    padding-right: 30px;
    padding-left: 8px;
}

#__next .MuiOutlinedInput-root {
    border-radius: 0;
}

#__next .disabledText {
    color: rgba(0, 0, 0, 0.38);
}